{% extends "layout.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h1>Login</h1>

    <form action="/auth" method="POST">
        <div class="form-group">
            <label for="username">Username or email address</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>

        <input type="submit" value="Login" class="btn btn-primary">
    </form>
{% endblock content %}
